:root {
	/* fonts */
	--font-family-sans: 'Dosis', sans-serif;
	--font-family-cursive: 'Pacifico', cursive;

	--font-weight-regular: 400;
	--font-weight-heavy: bold;

	/* sizes */
	--size-xxs: 0.125rem;  /*  2px */
	--size-xs: 0.375rem;   /*  6px */
	--size-s: 0.75rem;     /* 12px */
	--size-m: 16px;        /* 16px base size */
	--size-l: 1.25rem;     /* 20px */
	--size-xl: 1.75rem;    /* 28px */
	--size-xxl: 2.25rem;   /* 36px */

	--space-xs: 0.125rem;  /*  2px */
	--space-s: 0.25rem;    /*  4px */
	--space-m: 0.5rem;     /*  8px */
	--space-l: 1rem;       /*  16px */
	--space-xl: 1.5rem;    /*  24px */

	--border-xs: 1px;      /*   1px */
	--border-s: 1px;       /*   1px */
	--border-m: 0.125rem;  /*   2px */
	--border-l: 0.25rem;   /*   4px */
	--border-xl: 0.375rem; /*   6px */

	/* all colors */
	--color-rich-black: #071013;
	--color-pacific-blue: #23b5d3;
	--color-pewter-blue: #75abbc;
	--color-cadet-crayola: #a2aebb;
	--color-gains-boro: #dfe0e2;
	--color-light-orange: #fcd7ad;
	--color-royal-purple: #7b4b94;
	--color-viridian-green: #0ca4a5;
	--color-army-green: #433e0e;
	--color-orange-pantone: #ff570a;
	--color-sheen-gold: #c89933;
	--color-english-violet: #4a314d;
	--color-old-lavender: #6b6570;
	--color-mint-cream: #ebf5ee;
	--color-granny-apple: #ace894;

	--color-primary: #698ba6;
	--color-secondary: #577792;
	--color-light: #ffffff;
	--color-shadow-light: #a6afc3;
	--color-shadow-dark: #363f53;

	/* Shadows */
	--shadow-s: 0 var(--border-xs) var(--border-s);
	--shadow-m: 0 var(--border-s) var(--border-m);

	/* Base styles */
	font-family: var(--font-family-sans);
	font-size: var(--size-m);
	font-weight: var(--font-weight-regular);
	color: var(--color-rich-black);
	background-color: var(--color-mint-cream) ;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

#app {
	height: 100vh;
	width: 100vw;
	min-width: 320px;

	@media (min-width: 480px) {
		padding: var(--space-l);
	}

	--playground-background-size: 3rem;
	--playground-background-color-primary: #e0b76d;
	--playground-background-color-secondary: #b90cd8;
	--playground-background-color-secondary-semi-transparent: #b90cd880;

	// background (shamelessly) adapted from https://10015.io/tools/css-background-pattern-generator
	background-color: var(--playground-background-color-primary);
	background-image:
		linear-gradient(30deg, var(--playground-background-color-secondary) 12%, transparent 12.5%, transparent 87%, var(--playground-background-color-secondary) 87.5%, var(--playground-background-color-secondary)),
		linear-gradient(150deg, var(--playground-background-color-secondary) 12%, transparent 12.5%, transparent 87%, var(--playground-background-color-secondary) 87.5%, var(--playground-background-color-secondary)),
		linear-gradient(30deg, var(--playground-background-color-secondary) 12%, transparent 12.5%, transparent 87%, var(--playground-background-color-secondary) 87.5%, var(--playground-background-color-secondary)),
		linear-gradient(150deg, var(--playground-background-color-secondary) 12%, transparent 12.5%, transparent 87%, var(--playground-background-color-secondary) 87.5%, var(--playground-background-color-secondary)),
		linear-gradient(60deg, var(--playground-background-color-secondary-semi-transparent) 25%, transparent 25.5%, transparent 75%, var(--playground-background-color-secondary-semi-transparent) 75%, var(--playground-background-color-secondary-semi-transparent)),
		linear-gradient(60deg, var(--playground-background-color-secondary-semi-transparent) 25%, transparent 25.5%, transparent 75%, var(--playground-background-color-secondary-semi-transparent) 75%, var(--playground-background-color-secondary-semi-transparent));
	background-size:
		calc(var(--playground-background-size))
		calc(var(--playground-background-size) * 1.8); // 140px
	background-position:
		0 0,
		0 0,
		calc(var(--playground-background-size) / 2) calc(var(--playground-background-size) * 1.8 / 2),
		calc(var(--playground-background-size) / 2) calc(var(--playground-background-size) * 1.8 / 2),
		0 0,
		calc(var(--playground-background-size) / 2) calc(var(--playground-background-size) * 1.8 / 2);
}
